body{
    background-color: darkcyan;
}
.encabezado{
    background-color: cornflowerblue;
    text-align: center;
}
.encuesta{
    margin-left: 2cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.num{
    color: darkorchid;
    text-align: center;
}