.p1{
    background-color: cadetblue;
}
h1{ 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    height: 8cm;
    margin-left: 11.75cm;
}
.p2{
    background-color: rgb(80, 119, 192);
}
.p3{
    background-color: darkgrey;
    text-align: center;
}