/*font-family: 'Fredoka', sans-serif;*/
body{
    font-family: 'Fredoka', sans-serif;
    font-size: 19px;
    line-height: 19px;
    margin: 0;
}
header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,135,163,1) 0%, rgba(23,135,138,1) 45%, rgba(119,206,223,1) 100%);
    padding: 16px 0;
}
header h1{
    color:darkred;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 30px;
}
nav {
    background: rgb(2,0,36);
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(195,171,213,1) 0%, rgba(176,109,187,1) 46%, rgba(164,85,182,1) 100%);
    margin-bottom: 28px ;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    width: 14.8%;   
} 
nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 2.2px 2.2px;
} 
nav ul li a:hover{
background-color: darkblue;
}
footer{
    background: rgb(2,0,36);
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(228,221,221,1) 0%, rgba(175,148,148,1) 45%, rgba(208,106,106,1) 100%);
    clear: both;
    padding: 32px;
    margin-top: 2em;
    text-align: center;
}
nav ul li a.activo{
    background-color: darkblue;
}  
.holder{
    max-width: 960px;
    margin: 0 auto;
} 
h2{
    color:darkred;
    font-weight: 600;
    margin: 0 0 1em;
}
.left{
    float: left;
}
.right{
    float: right;
}
.homeimg{
    margin-bottom: 24px;
}
.bienvenidos, .testimonios{
    box-sizing: border-box;
}
.bienvenidos{
    width: 75%;
    padding-right: 2em;
}
.testimonios{
    width: 25%; 
}
.testimonio{
    padding: 1em;
    background-color: grey;
}
.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
    display: block;
}
.testimonio .autor{
    font-size: 9px;
    text-align: center;
    margin: 16px 0;
    display: block;
}
.historia p{
    font-size: 12.8px;
}

.persona {
    width: 18%;
    border: 1px solid black;
    border-radius: 4px;
    float: left;
    margin-left: 2.25%;
    box-sizing: border-box;
    text-align: center;
}

.persona img{
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    margin: 12.8px 0 16px;
    max-width: 70%;
}
.persona h5, .persona h6{
    text-align: center;
    font-weight: normal;
    color:darkgray;
    margin: 0;
}
.persona h5{
    font-size: 14.4px;
}
.persona h6{
    font-size: 12.8px;
    font-style: italic;
}
.persona p{
    font-size: 11.2px;
    color: darkorange;
    margin: 0 16px 16px;
}
.persona:first-child{
    margin-left: 0;
}
.personas{
    overflow: hidden;
}
.servicio{
    border: 16px solid darkgray;
    border-radius: 11.2px;
    margin: 16px 0;
    padding: 17px;
    overflow: hidden;
}
.servicio .info{
    width: 75%;
}
.servicio .info h4{
    color: lightblue;
    font-size: 19.2px;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 16px;
    border-bottom: 1px solid darkblue;
    padding-bottom: 9px;
}
.servicio .info p {
    font-size: 12.8px;
    line-height: 19.2px;
}
.servicio img{
    border-radius: 16px; 
}
.servicio:nth-child(even) img{
    float: right;
    margin: 0 0 0 16px;
}
.servicio:nth-child(even) .info{
float:left;
}
servicio:nth-child(odd) img{
    float: left;
    margin: 0 16px 0 0;
}
.servicio:nth-child(odd) .info{
    float: right;
}
.galeria .foto{
    float: left;
    width: 18%;
    margin: 16px 0 16px 2.5%;
    border: 1px solid #ddd;
    padding: 4.8px;
    box-sizing: border-box;
}
.galeria .foto img{
    width: 100%;
    display: block;
}
.galeria .foto:nth-child(5n+1){
    margin-left: 0;
}
.novedades .info{
    border: 16px solid lightsalmon;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px;
    overflow: hidden;
}
.novedades .info h4{
    font-style: italic;
    font-size: 20px;
    color: pink;
}
.novedades .info h3{
    font-style: italic;
    font-size: 30px;
    color: lightgreen;
    border-bottom: 1px solid black; 
}
.columna{
    width: 50%;
    box-sizing: border-box;
    padding: 12px;
}
.columna.left{
    border-right: 1px solid darkblue;
}
.coumna.right p{
font-size: 14.4px;
}
.columna.right ul li{
    font-size: 12.8px;
}
.formulario label{
    vertical-align: top;
    width: 20%;
    display:inline-block;
}
.formulario input, .formulario textarea{
background-color: lightgrey;
border-radius: 5px;
border: 1px solid darkblue;
padding: 6.4px 9.8px;
font-size: 12.8px;
width: 70%;
}
.formulario input[type="submit"]{
    background-color: lightblue;
    box-shadow: 0 0 16px lightskyblue;
    color: white;
    font-size: 16px;
    width: auto;
    cursor: pointer;
}
.formulario textarea{
    height: 160px;
    resize: none;
}
.formulario .acciones{
    text-align: center;
}