body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,100,121,1) 0%, rgba(7,124,150,1) 43%, rgba(7,126,153,1) 45%, rgba(5,145,175,1) 61%, rgba(4,162,196,1) 71%, rgba(0,212,255,1) 100%);
}
.encabezado{
    background-color: cornflowerblue;
    text-align: center;
}
.encuesta{
    margin-left: 2cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.num{
    height: 100px;
    width: 200px;
    background-color: brown;
    color: aliceblue;
    text-align: center;
    margin: auto;
    transition: all 0.3s ease-in-out;
}
.num:hover{
    transform: scale(1.3);
}